.login {

    background-image: url('../images/login-image.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-div {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: rgb(249, 249, 249);
}

.register-button {
    margin-left: 160px;
}