.navbarAppBar {
    background-color: rgb(11, 116, 134);
}

.navbarIconButton {
    margin-right: 2px;
}

.navbarTypography {
    flex-grow: 1;
    cursor: pointer;
}

.navbarDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbarTextField {
    width: 300px;
    margin-bottom: 25px;
}

.navbarBadge {
    margin: 0px 10px;
    cursor: pointer;
}

.navbarBasketIcon {
    font-size: 18px;
    cursor: pointer;
}

.navbarButton {
    text-transform: none;
    color: lightgray;
}

.navbarTextFieldInput {
    color: lightgrey;
}

.navbarTextFieldInput::before {
    border-bottom: 1px solid lightgrey;
}