.card {
    cursor: pointer;
    box-shadow: 1px 5px 5px lightblue;
    width: 330px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 60px 10px
}

.card-content {
    height: 250px;
}

.card-Typography {
    color: rgba(0, 0, 0, 0.6);
}


.card-price {
    font-family: arial;
}